<%# default partial to display solr document fields in catalog show view -%>
<% if @document.respond_to?(:ead)
	target_nav = @document.ead.navigation.descendants.detect do |n|
		n.object and n.object[:id]==@document[:id]
	end
	root = @document.ead.navigation.children.first
	first_top_level_node = root.children.first
end
%>

<dl class="defList">

	<% document_show_fields.each do |solr_fname| -%>
		<% if document[solr_fname] %>
			<dt><%= document_show_field_labels[solr_fname]%></dt>
			<dd><%= document[solr_fname] %></dd>
		<% end -%>
	<% end -%>
	
	<% if @document.respond_to?(:ead) %>
		<dt>Part of:</dt>
		<dd>
			<%= link_to root.value, first_top_level_node.object[:id] %> / <%= link_to target_nav.parent.value, target_nav.parent.object[:id] %>
		</dd>
	<% end %>
	
	<% if @document[:fullimage_display] and @document[:preview_display] %>
		<a href="<%=@document[:fullimage_display]%>" rel="lightbox" title="<%= @document[:title_t]%>">
		<%= image_tag(@document[:preview_display], :class => "preview", :alt => @document[:title_t]) %>
		</a>
	<% end %>
	
</dl>