<% sidebar_items << capture do -%>
	<div class="below_appliedParams">
		<h3>Navigation for this Collection Guide</h3>
	<% # this helper builds a nice ul tree out of the ead.navigation object -%>
	<%= contextual_navigation_tree(
		@document.id,
		@document.ead.navigation,
		:max_depth=>2
	) -%>
	</div>
<% end -%>

<% d = Nokogiri::XML(@document[:xml_display].to_s) -%>

<% if d.root.name == 'did' %>
	<dl class="defList">
		<div>
			<dt>Repository</dt>
			<dd>
				<%= render :partial => "address", :locals => { :address => @address, :text => d.at('repository') } %>
			</dd>
		</div>

		<% if d.at('origination') %>
			<div>
				<dt>Origination</dt>
				<dd><%= d.at('origination').text rescue 'N/A' %></dd>
			</div>
		<% end %>
		
		<div>
			<dt>Date(s)</dt>
			<dd><%= d.at('unitdate').text rescue 'N/A' %></dd>
		</div>
		<div>
			<dt>Physical Description</dt>
			<dd><%= d.at('physdesc').text rescue 'N/A'%></dd>
		</div>
		<div>
			<dt>Abstract</dt>
			<dd><%= d.at('abstract').text rescue 'N/A'%></dd>
		</div>
		<div>
			<dt>Language</dt>
			<dd><%= d.at('langmaterial').text rescue 'N/A'%></dd>
		</div>
		<% if @document[:rights_t] %>
		<div>
			<dt>Rights</dt>
			<dd><%= @document[:rights_t] %></dd>
		</div>
		<% end %>
	</dl>

<% elsif ['bioghist', 'scopecontent', 'arrangement'].include? d.root.name %>
  
	<% d.search('p').each do |p| %>
		<p><%= p.text %></p>
	<% end %>

<% elsif d.root.name == 'c01' %>
	<dl class="defList">
		
		<% if d.at('unitdate') %>
		<div>
			<dt>Date(s)</dt>
  			<dd><%= d.at('unitdate').text %></dd>
		</div>
		<% end %>
		
		<% if d.at('arrangement') %>
		<div>
			<dt>Arrangement</dt>
			<dd><%= d.at('arrangement').text %></dd>
		</div>
		<% end %>
 		
		<% if d.at('scopecontent') %>
		<div>
			<dt>Scope / Content</dt>
			<dd><%= d.at('scopecontent').text %></dd>
		</div>
		<% end %>
	</dl>
	
	<%# TODO: put this in a helper -%>
	<% if c02items = d.search('c02') and c02_html_items=[] %>
		<h4>Items in this Collection</h4>
		<% c02items.each_with_index do |c02,index| %>
			<% c02_html_items << capture do %>
				<span>
					<%# c02 items use a predictable id; incremental (see lib/ead_solr_mapper.rb)-%>
					<%= link_to c02.at('unittitle'), catalog_path("#{@document[:id]}-#{index}") %>
				</span>
			<% end %>
		<% end %>
		<%= c02_html_items.join(' &mdash; ')%>
	<% end %>
	
<% end %>

<% # xslt 'catalog/_show_partials/_ead/show.xsl', @document[:xml_display] %>