<% sidebar_items << capture do -%>
	<div class="below_appliedParams">
		<h3>Navigation for this Collection Guide</h3>
		<% # this helper builds a nice ul tree out of the ead.navigation object -%>
		<%= contextual_navigation_tree(
			@document.id,
			# don't start at the root...
			@document.ead.navigation.children.first,
			# only go down to the "Collection Items" node
			:max_depth=>2
		) -%>
	</div>
<% end -%>

<% target = @document.ead.navigation.descendants.detect{|n| n.object and n.object[:id]==@document[:id] } %>


<% if @document[:fullimage_display] and @document[:preview_display] %>
	<a href="<%=@document[:fullimage_display]%>" rel="lightbox" title="<%= @document[:title_t]%>">
	<%= image_tag(@document[:preview_display], :class => "preview", :alt => @document[:title_t]) %>
	</a>
<% end %>


<% d = Nokogiri::XML(@document[:xml_display].to_s) -%>

<% if d.root.name == 'did' %>
	<dl class="defList">
		<div>
			<dt>Repository</dt>
			<dd>
				<%= render :partial => "address", :locals => { :address => @address, :text => d.at('repository') } %>
			</dd>
		</div>

		<% if d.at('origination') %>
			<div>
				<dt>Origination</dt>
				<dd><%= d.at('origination').text rescue 'N/A' %></dd>
			</div>
		<% end %>
		
		<div>
			<dt>Date(s)</dt>
			<dd><%= d.at('unitdate').text rescue 'N/A' %></dd>
		</div>
		<div>
			<dt>Physical Description</dt>
			<dd><%= d.at('physdesc').text rescue 'N/A'%></dd>
		</div>
		<div>
			<dt>Abstract</dt>
			<dd><%= d.at('abstract').text rescue 'N/A'%></dd>
		</div>
		<div>
			<dt>Language</dt>
			<dd><%= d.at('langmaterial').text rescue 'N/A'%></dd>
		</div>
		<% if @document[:rights_t] %>
		<div>
			<dt>Rights</dt>
			<dd><%= @document[:rights_t] %></dd>
		</div>
		<% end %>
	</dl>

<% elsif ['bioghist', 'scopecontent', 'arrangement'].include? d.root.name %>
  
	<% d.search('p').each do |p| %>
		<p><%= p.text %></p>
	<% end %>

<% elsif d.root.name == 'c01' %>
	<dl class="defList">
		
		<% if d.at('unitdate') %>
		<div>
			<dt>Date(s)</dt>
  			<dd><%= d.at('unitdate').text %></dd>
		</div>
		<% end %>
		
		<% if d.at('arrangement') %>
		<div>
			<dt>Arrangement</dt>
			<dd><%= d.at('arrangement').text %></dd>
		</div>
		<% end %>
 		
		<% if d.at('scopecontent') %>
		<div>
			<dt>Scope / Content</dt>
			<dd><%= d.at('scopecontent').text %></dd>
		</div>
		<% end %>
	</dl>
	
	<% if target.children.size > 0 %>
		<h4>Items in this Collection</h4>
		<ul>
		<% target.children.each do |item| %>
			<li><%= link_to item.value, item.object[:id] %></li>
		<% end %>
		</ul>
	<% end %>
	
<% end %>

<% # xslt 'catalog/_show_partials/_ead/show.xsl', @document[:xml_display] %>