<% @page_title = "#{document_show_html_title} - #{application_name}" %>

<%#= render 'constraints', :localized_params=>session[:search] %>
<%= render :partial=>'constraints', :locals => { :localized_params=>session[:search] }%>


<%# this should be in a partial -%>
<div class="yui-g">
	<div class="yui-u first">
	  <%= render 'previous_next_doc' %>
  </div>
	<div class="yui-u">
		
	</div>
</div>
<% sidebar_items << capture do %>
  <p><%= link_back_to_catalog %></p>
<% end %>
<%# this should be in a partial -%>
<div id="document">
  <div id="doc_<%= @document[:id] %>">
    <h1><%= @document[:title_t] %></h1>
		<% if @document[:unittitle_t] %>
		<h2><%= @document[:unittitle_t]%></h2>
		<% end %>
			
    <div class="tools"><%= render :partial => 'show_tools' %></div>
    <div class="document">
		<% if @document['format_facet'].to_s == 'Herbarium Specimen'%>
			<%= render_specified_document_partial @document, :show, :herbarium %>
		<% elsif @document['collection_facet'].to_s == 'City of Pullman Collection'%>
			<%= render_specified_document_partial @document, :show, :pullman %>
		<% elsif @document['collection_facet'].to_s == 'Oregon State Baseball'%>
			<%= render_specified_document_partial @document, :show, :baseball %>
		<% elsif @document['collection_facet'].to_s == 'Washington State University Theses'%>
			<%= render_specified_document_partial @document, :show, :uwtheses %>
		<% elsif @document['collection_facet'].to_s == 'National Japanese American Student Relocation Council Records'%>
			<%= render_specified_document_partial @document, :show, :jasr %>
		<% else %>
	     	<%= render_document_partial @document, :show %>
		<% end%>    
	</div>
  </div>
</div>

<%= render :partial=>'solr_request' %>
