<% @page_title = @document[Blacklight.config[:show][:html_title]][0] rescue application_name %>

<div id="document">
  <div id="doc_<%= @document[:id] %>">
    
    <h1><%= @document[Blacklight.config[:show][:heading]] %></h1>
    <h3 class="byline"><%= @document[Blacklight.config[:show][:byline]] %></h3>
    <div class="tools"><%#= render :partial => 'show_tools' %></div>
    <div class="document">
	  <% if @document.ead? %>	
	  	<%= render(:partial=>"catalog/_show_partials/ead") %>
	  <% elsif @document.format_facet.to_s == 'Herbarium Specimen'%>
		<%= render_specified_document_partial @document, :show, :herbarium %>
	  <% elsif @document.collection_facet.to_s == 'City of Pullman Collection'%>
		<%= render_specified_document_partial @document, :show, :pullman %>
      <% else %>
      	<%= render_document_partial @document, :show %>
	  <% end%>

	<%#= render(
	    :partial=>"catalog/_show_partials/#{@document.doc_type}",
	    :locals=>{:document=>@document,:current_user=>@current_user, :sidebar=>@sidebar}
	  ) %>
    </div>
    
  </div>
<% if @previous_document || @next_document %>
<div id="previousNextDocument" class="yui-t2">
	<%= link_to_previous_document(@previous_document) %>
	<% if @previous_document && @next_document %> | <% end %>
	<%= link_to_next_document(@next_document)%>	
</div>
<% end %>
</div>




<%# @sidebar = capture do %>
  <p><%#= link_back_to_catalog :label=>'&lt;&lt; SEARCH' %></p>
<%# end %>

<%= render :partial=>'solr_request' %>
<div id="lightboxContainer" style="display:none;">
</div>
<div id="lightboxContent" style="display:none;">
  <%#= render :partial => 'citation' %>
</div>