<h1>Listing addresses</h1>

<table>
  <tr>
  </tr>

<% @addresses.each do |address| %>
	<div class="address">
		<p><%= address.name %> 
				[<%= link_to 'Show', address %> | 
				<%= link_to 'Edit', edit_address_path(address) %> | 
				<%= link_to 'Destroy', address, :confirm => 'Are you sure?', :method => :delete %>] 
		</p>
	</div>
<% end %>

</table>

<br />

<%= link_to 'New address', new_address_path %>