<%# default partial to display solr document fields in catalog show view -%>
<dl class="defList">

    <dt>Title</dt><dd><%= @document[:title_t] %></dd>
    <dt>Description</dt><dd><%= @document[:description_t] %></dd>
    <dt>Collection</dt><dd><%= @document[:collection_facet] %></dd>
	<%#= @document[:fullimage_display] %>
	
	<a href="<%=@document[:fullimage_display]%>" class="nyroModal" title="<% @document[:title_t]%>">
	<%= image_tag(@document[:preview_display]) %>
	</a>
</dl>